.projects-main-section {
	display: grid;
	grid-template: 1fr / 1fr;
	place-items: center;
	grid-row-gap: 4rem;
}

.projects-main-section .survivor-logo-image, .projects-main-section .cogs108-image {
	width: 30vw;
	margin-right: 2rem;
	height: auto;
	max-width: 350px;
}

.project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

@media (max-width: 800px) {
	.projects-main-section {
		flex-direction: column;
		justify-content: center;
	}
	.projects-main-section .survivor-logo-image, .projects-main-section .cogs108-image {
		display: none;
	}

	/*.projects-main-section .survivor-logo-image, .projects-main-section .cogs108-image {
		margin-top: 2rem;
		height: 30vh;
		width: auto;
	}
	.projects-main-section .survivor-logo-image, .projects-main-section .cogs108-image {
		margin-right: 0;
		margin-bottom: 2rem;
	}*/
}

.github {
	margin-bottom: 2rem;
	color: white;
	text-decoration: none;
}

.my-github a:hover, .survivor a:hover, .cogs108 a:hover {
	color: #adadad;
}

a {
	text-decoration: none;
	color: white;
}

.shape-1 {
  position: absolute;
  overflow: hidden;
  width: 30vw;
  height: 30vw;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.shape-1::before {
  content: '';
  transform: translateX(-20%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(127,191,130,0.1);
}

.shape-2 {
  position: absolute;
  overflow: hidden;
  width: 18vw;
  height: 18vw;
  top: 0;
  left: 20vw;
  z-index: -1;
}

.shape-2::before {
  content: '';
  transform: translateY(-30%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(58,119,158,0.1);
}

.shape-3 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgb(153,120,93,0.1);
	top: 70vh;
	left: 80vw;
	z-index: -1;
}


/*@media (max-width: 420px) {
	.projects-main-section .survivor-logo-image, .projects-main-section .cogs108-image {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}*/